.App {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.App__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:  75dvw;
}

canvas {
    display: flex;
    height: 55dvw;
    max-height: 95dvh;
    max-width: 55dvw;
    border-width: 4px;
    border-style: double;
    border-color: white;
    margin: 10px;
}

input{
    cursor: pointer;
}

@media only screen and (max-width: 930px) {
    .App {
        flex-direction: column;
        align-items: center;
        height: 100dvh;
    }

    .App__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    canvas {
        display: flex;
        max-height: 65vh;  
        height: 62dvw;
        max-width: 95dvw;
        border-width: 4px;
        border-style: double;
        border-color: white;
        margin: 10px;
    }
}